.totaltime{
    background: rgb(237 247 254);
    display: flex;
    padding: 20px 10px;
    border-radius: 10px;
    justify-content: space-between;
    width: 85%;
    margin: 15px auto;

}
.times h2{
    margin-left: 15px;
}
.activities_time{
    font-weight: 600;
    color: rgb(86, 99, 109);
}