.home_container{
    width: 100%;
    display: flex;
}
.activitites_container{
    width: 70%;
}
.activities_wrapping{
    display: flex;
    flex-wrap: wrap;
    padding: 15px 40px;
    justify-content: space-evenly;
}
.dashboard_container{
    width: 30%;
}
.complete_btn{
    width: 60%;
    margin: 0 auto;
    display: block;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 10px;
    background: rgb(11, 234, 37);
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
}
@media only screen and (max-width: 600px) {

    .home_container{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .activitites_container{
        width: 100%;
    }
    .activities_wrapping{
        display: flex;
        flex-wrap: wrap;
        grid-gap: 30px;
        padding: 15px 40px;
        /* background: #F2F4FA; */
    }
    .dashboard_container{
        width: 90%;
        margin: 0 auto;
        padding-bottom: 20px;
    }
  }